body {
  background-color: #14131a;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.header {
  padding-top: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.nav-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav-menu-item {
  margin-right: 30px;
}

.logo-link {
  display: inline-block;
  padding-right: 50px;
}

.nav-menu-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

.film-date {
  display: block;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.8);
}

.film-description {
  margin-top: 40px;
  font-size: 16px;
  line-height: 140%;

  max-width: 423px;
  color: rgba(255, 255, 255, 0.8);
}

.film-preview {
  display: flex;
  margin-top: 70px;
  
}

.film-watch {
  width: 204px;
  height: 46px;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 16px;
  
  color: #8d0019;
  background: #ffffff;
  border-radius: 5px;
  
}

.film-preview img{
  margin-right: 11px;
}

.film-ticket {
  display:flex;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  margin-left: 50px;
  
  color: #ffffff;
}
